#swearing {
  position: relative;
  top: 100px;
  text-align: center;
  height: 100%;
}
.swearing_table {
  margin: auto;
  width: 580px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0;
  caption-side: bottom;
}
.swearing_table,
.swearing_table th,
.swearing_table td {
  border: 1px solid black;
  border-right: none;
  border-left: none;
  border-top: none;
}

.swearing_table th {
  height: 40px;
  padding: 0;
}
.swearing_table td {
  text-align: auto;
  padding: 0;
  margin: 0;
  height: 35px;
}

.swearing_table__bottom {
  margin-top: 8px;
}

.swearing_table__bottom__paging {
  display: inline-block;
}

.swearing_table__bottom__write {
  float: right;
}

.swearing__write {
  border: 1px solid black;
  padding: 10px;
  border-radius: 4%;
  margin: auto;
  width: 620px;
}
.swearing__write h3 {
  border: 1px solid black;
  margin: 0;
  border-radius: 10px;
  width: 600px;
  margin-right: 0;
  display: inline-block;
}

.swearing__write .input__title {
  display: block;
  width: 600px;
  height: 35px;
  border-radius: 10px;
  margin: 15px 0;
  font-size: 15px;
  border: 1px solid black;
  padding: 10px;
  margin-right: 0;
  display: inline-block;
}

.swearing__write .input__content {
  resize: none;
  display: block;
  width: 600px;
  height: 400px;
  overflow: auto;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  margin-right: 0px;
  display: inline-block;
}

.swearing__write input:focus,
.swearing__write textarea:focus {
  outline: none;
  border: 1.5px solid blue;
}

.swearing__submit {
  display: block;
  margin: auto;
}

.swearingView__background {
  border: 1px solid #65ffba;
  width: 580px;
  height: 650px;
  margin: auto;
  background-color: #afffee;
  background-image: linear-gradient(to bottom, #afffee, white);
  border-radius: 5%;
  padding: 10px;
}

.swearingView__header {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  height: 10%;
  margin-bottom: 10px;
}

.swearingView__header ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

.swearingView__header .line {
  background: #afffee;
  width: 100%;
  height: 1px;
  display: block;
}

.swearingView__content {
  background-color: white;
  width: 100%;
  height: 85%;
  border-radius: 20px;
  text-align: left;
  padding: 10px;
}

.swearingView__content p {
  margin: 0;
}

.miniButton__submit,
.miniButton {
  border: 1px solid #65ffba;
  color: white;
  background-color: #65ffba;
  width: 50px;
  height: 25px;
  display: inline-block;
  border-radius: 10px;
  margin: -2px;
}

.miniButton__submit {
  cursor: pointer;
  font-size: 16px;
}

.miniButton:visited {
  color: white;
}

.swearingUpdate__background {
  border: 1px solid #65ffba;
  width: 580px;
  height: 650px;
  margin: auto;
  background-color: #afffee;
  background-image: linear-gradient(to bottom, #afffee, white);
  border-radius: 5%;
  padding: 10px;
}

.swearingUpdate__header {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  height: 5%;
  margin-bottom: 10px;
}

.swearingUpdate__content,
.swearingUpdate__content p {
  background-color: white;
  width: 100%;
  height: 85%;
  border-radius: 20px;
  text-align: left;
  padding: 10px;
  display: block;
}

.swearingUpdate__header input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
}

.swearingUpdate__content .textareaa1 {
  resize: none;
  width: 100%;
  height: 540px;
  overflow: auto;
  outline: none;
  border: none;
}
